<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
<!--
.style3 {
	font-size: 48px;
	font-weight: bold;
}
.style5 {font-size: 24px; font-weight: bold; }
-->
</style>
</head>

<body>
<script>

</script>
<table width="600" border="0" cellspacing="20" cellpadding="20">
  <tr>
    <td align="center" bgcolor="#00CC33"><div align="left"><span class="style3">      Welcomt to CyFi Plot!<br />
    </span></div></td>
  </tr>
  <tr>
    <td bgcolor="#FF9933"><form action="/plot" method="POST" enctype="multipart/form-data" name="form1" id="form1">
      <span class="style5">Upload files for analysis</span><br />
      <label>
        <input type="file" name="upfile[]" multiple="true">
        <br>
        <input type="submit" name="submit" value="UPLOAD" class="form-action">
      </label>
      <br />
                            </form>    </td>
  </tr>
</table>
</body>
</html>
